<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">Posted <%= micropost.created_at %></span>
  <% if current_user?(micropost.user) %>
    <%= link_to 'delete', micropost, method: :delete %>
  <% end %>
</li>